<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>{{ name }}</title>
</head>
<body>
<div class="panel-heading">
                <h3 style="text-align: center">{{ name }}</h3>
</div>



<! -- 选择功能 -->




<h3>选择功能</h3>
<div>
    <a href="/add_user"><button>增加元组</button></a>
    <a href="/info"><button>回到主界面</button></a>
    <form action="/select" method="post">
        <select name="column">
            {% for i in column %}
                <option>{{ i }}</option>
            {% endfor %}
        </select>
        <input type="text" name="id" >
        <input type="submit" value="按选定值查询">
    </form>
</div>




<div class="row">
    <div class="col-md-10 col-sm-20 col-xs-12">
        <div class="panel panel-default">
            <div>
                选择不同的表
                <form action="/info" method="post">
                    <select name="table" id="link_in" >
                    {% for j in table %}
                        <option>{{ j }}</option>
                    {% endfor %}
                    </select>
                    <input type="submit" value="确定" >
                </form>

            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                        <tr>
                            {% for i in column %}
                                <td>{{ i }}</td>
                            {% endfor %}
                                <td>数据操作</td>
                        </tr>
                        </thead>
                        <tbody>
                        {% for i in data %}
                            <tr>
                                {% for j in i %}
                                    <td>{{ j }}</td>
                                {% endfor %}
                                    <td>
                                        <a href="/delete?id={{ i[0] }}"><button onclick="function_delete()">删除</button></a>
                                        <a href="/modify?id={{ i[0] }}"><button>修改</button></a>
                                    </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

<script>
        function function_delete(){
            var txt;
            confirm("删除成功")
            txt = "你已成功插入数据！点击查看数据可查看更新后的数据";
            document.getElementById("demo").innerHTML = txt;
        }
</script>
</body>
</html>
